/* Box sizing rules */
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
html,
figure,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
button,
input,
textarea,
select,
fieldset,
img,
svg,
video,
article,
aside,
section,
header,
footer,
nav,
main,
div {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Make media elements block and responsive */
img,
svg,
video,
canvas,
picture {
  display: block;
  max-width: 100%;
}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Make form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove button default styles */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
li,
span,
strong,
small {
  overflow-wrap: break-word;
}

/* Remove animations, transitions and smooth scroll for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
