.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 30px;
}

.grid-section .card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.top1 {
    grid-area: top1;
    background: url(../../images/products/card_imagem.jpg);
}

.top1-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.card-title {
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle {
    color: #EDEDED;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group {
    display: flex;
    gap: 10px;
}

.top2 {
    grid-area: top2;
    background: url(../../images/products/roxo-verde-grid.jpg) no-repeat center;
}

.midL {
    grid-area: midL;
    background: url(../../images/products/modelo-feminino.jpg) no-repeat center;
}

.midR {
    grid-area: midR;
    background: url(../../images/products/futurista-grid.jpg) no-repeat center;
}

.bottomL {
    grid-area: bottomL;
    background: url(../../images/products/preto-azul-grid.jpg) no-repeat center;
}

.bottomR {
    grid-area: bottomR;
    background: url(../../images/products/moderno-grid.jpg) no-repeat center;
    background-size: cover;
}